.blog-post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-post-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.blog-post-details img {
  max-width: 100%;
  height: auto;
}

.blog-post-details {
  text-align: left;
}

.blog-post-item h3 {
  margin-top: 0;
}
